[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Boom"]
	path = Boom
	url = https://github.com/cran/Boom
[submodule "BoomSpikeSlab"]
	path = BoomSpikeSlab
	url = https://github.com/cran/BoomSpikeSlab
[submodule "bsts"]
	path = bsts
	url = https://github.com/cran/bsts
